
.btn-bg {
    background-color: #44bbb5;
    padding: 12px 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.course {
    min-height: 615px;
}
.course:hover .course-content h4 {
    color: #FFC107;
    transition: .3s;
    cursor: pointer;
}